.notification-tab {
  padding: 5px 15px;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #64748b;
}

.notification-tab-active {
  color: #4285f4;
  background: #ecf3fe;
}
