.match-details-tab {
  padding: 5px 15px;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #64748b;
}

.match-details-tab-active {
  color: #4285f4;
  background: #ecf3fe;
}

.ppm-player-tab {
  width: auto;
  height: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ppm-player-tab-active {
  background-color: #f0f1f3;
}

.statusActive {
  background: #4285f4 !important;
}

.statusInactive.ant-switch {
  background: #e0e3e8 !important;
}

.updateBtn {
  display: block;
}

.ppmTable:has(.ppmTableRow > td > input:invalid) .updateBtn {
  display: none;
}

.errorUpdateBtn {
  display: none;
}

.ppmTable:has(.ppmTableRow > td > input:invalid) .errorUpdateBtn {
  display: block;
}
