.ant-pagination {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}

.ant-pagination .ant-pagination-item {
  font-size: 14px;
  font-weight: 500;
}

.ant-pagination .ant-pagination-item-active {
  border-color: transparent !important;
  background: #eff1f4;
}
.ant-pagination .ant-pagination-item a {
  color: #667085 !important;
}
.ant-pagination .ant-pagination-item-active a {
  color: #091e42 !important;
}
